@font-face {
    font-family: FaktProSoft;
    src: url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Blond.eot");
    src: url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Blond.eot?#iefix") format("embedded-opentype"),
         url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Blond.woff") format("woff"),
         url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Blond.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: FaktProSoft;
    src: url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Normal.eot");
    src: url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Normal.eot?#iefix") format("embedded-opentype"),
         url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Normal.woff") format("woff"),
         url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Normal.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: FaktProSoft;
    src: url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Medium.eot");
    src: url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Medium.woff") format("woff"),
         url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Medium.ttf") format("truetype");
    font-weight: 500;
}

html, body {
    font-family: FaktProSoft, Helvetica Neue, helvetica, arial, sans-serif;
    margin: 0;
}

a {
    color: #FFF;
}

.header {
    background-image: url(../../images/team.jpg);
    background-color: #F50057;
    background-size: cover;
    background-position: center center;
    height: 340px;
}

.header .content {
    width: 400px;
    color: #FFF;
}

.job-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.job {
    text-align: center;
    border-bottom: #F50057 2px solid;
    width: 32%;
    /*min-width: 230px;*/
    /*margin-right: 30px;*/
    padding-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;
}

.job:hover{
    background-color: #F50057;
    color: #FFF;
}

@media (max-width: 800px) {
    .job {
        width: 48%;
    }
}

@media (max-width: 500px) {
    .job {
        width: 100%;
    }
}
