@font-face {
    font-family: FaktProSoft;
    src: url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Blond.eot");
    src: url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Blond.eot?#iefix") format("embedded-opentype"),
         url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Blond.woff") format("woff"),
         url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Blond.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: FaktProSoft;
    src: url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Normal.eot");
    src: url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Normal.eot?#iefix") format("embedded-opentype"),
         url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Normal.woff") format("woff"),
         url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Normal.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: FaktProSoft;
    src: url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Medium.eot");
    src: url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Medium.woff") format("woff"),
         url("https://marvelapp.com/static/assets/webfonts/fakt-soft/FaktSoftPro-Medium.ttf") format("truetype");
    font-weight: 500;
}

html, body {
    font-family: FaktProSoft, Helvetica Neue, helvetica, arial, sans-serif;
    margin: 0;
}

a {
    color: #FFF;
}

.header {
    background-image: url(../../images/team.jpg);
    background-color: #F50057;
    background-size: cover;
    background-position: center center;
    margin-bottom: 50px;
}

.header h1 {
    font-weight: 500;
}

.header .content {
    max-width: 400px;
    color: #FFF;
    font-weight: 300;
}

.header .content ul {
    list-style: none;
    padding: 0;
}

.header .content li {
    margin-bottom: 10px;
}

.header .content a {
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    line-height: 15px;
    border-bottom: 2px solid #FFF;
}

.footer {
    text-align: center;
    border-top: 5px solid #F50057;
}


.job-area {
    margin-bottom: 40px;
}

.job-area h2{
    font-weight: 400;
    border-bottom: 5px solid #F50057;
    display: inline-block;
}

.job-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.job {
    text-align: center;
    width: 32%;
    padding-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;
}

.job h3 {
    font-weight: 300;
}

.job:hover {
    background-color: #F50057;
    color: #FFF;
}

@media (max-width: 800px) {
    .job {
        width: 48%;
    }
}

@media (max-width: 500px) {
    .job {
        width: 100%;
    }
}
